<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Оформление заказа</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}" />
    <h1>Оформление заказа</h1>
    <br>
    <table th:if="${!@cart.items.isEmpty()}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oi : ${@cart.items}">
            <td th:text="${oi.product.title}"/>
            <td th:text="${oi.quantity}"/>
            <td th:text="${oi.quantity + ' x ' + oi.pricePerProduct + ' = ' + oi.price}"/>
        </tr>
        <tr>
            <td></td>
            <td>Общая стоимость заказа:</td>
            <td th:text="${@cart.price}"></td>
        </tr>
        </tbody>
    </table>

    <form method="post" th:action="@{/orders/new_order}">
        <div class="form-group col-md-6">
            <label for="nameInput">Укажите ваше имя</label>
            <input class="form-control" name="name" type="text" id="nameInput" placeholder="Введите имя">
        </div>
        <div class="form-group col-md-6">
            <label for="phoneInput">Укажите ваш телефон</label>
            <input class="form-control" name="phone" type="text" id="phoneInput" placeholder="Введите телефон">
        </div>
        <div class="form-group col-md-6">
            <label for="addressInput">Укажите ваш адрес</label>
            <input class="form-control" name="address" type="text" id="addressInput" placeholder="Введите адрес">
        </div>
        <button class="btn btn-primary" type="submit">Оформить заказ</button>
    </form>

</div>

</body>
</html>