<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Каталог товаров</h1>
    <br>
    <h2>Отобразить в диапазоне цен:</h2>
    <form method="GET" th:action="@{/products}">
        <input type="number" name="min" placeholder="Минимальная цена">
        <input type="number" name="max" placeholder="Максимальная цена">
        <button class="btn btn-primary" type="submit">Отобразить</button>
    </form>
    <br>
    <span th:if="${products.isEmpty()}">Товары отсутствуют</span>
    <table class="table table-hover" th:if="${!products.isEmpty()}">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td th:text="${p.title}"/>
            <td th:text="${p.price}"/>
        </tr>
        </tbody>
    </table>
    <span th:if="${!products.isEmpty()}" th:text="'Количество товаров на странице: ' + ${products.getSize()}"></span>
</div>

</body>
</html>