<div>
    <h3>Заказы</h3>
    <span ng-if="orders.length == 0">Заказы отсутствуют</span>
    <table ng-if="orders.length > 0" class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Клиент</th>
            <th>Цена</th>
            <th>Адрес доставки</th>
        </tr>
        <tbody>

        <tr ng-repeat="o in orders">
            <td>{{o.orderId}}</td>
            <td>{{o.username}}</td>
            <td>{{o.price}}</td>
            <td>{{o.address}}</td>
        </tr>
        </tbody>
    </table>
</div>

